params {
    input = null
    outdir = "results"

    subsample_fraction = ".01"
    subsample_seed = 2026

    refrna = "/usr/local/share/optitype/data/hla_reference_rna.fasta"
}

process {
    executor = "slurm"

    withLabel: process_medium {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }
    
    withLabel: process_high {
    cpus = 4
    memory = '14 GB'
    time = '4h'
    }
}

profiles {
    test {
        params.input = "assets/samplesheet_testdata.csv"
        params.outdir = "results_test"
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"
    }
}