params {
    input = null
    outdir = "results"
}

process {
    executor = "slurm"

    withLabel: process_medium {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }
}

profiles {
    test {
        params.input = "assets/samplesheet_testdata.csv"
        params.outdir = "results_test"
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"
    }
}