params {
    input = null
    outdir = "results"

    subsample_fraction = ".01"
    subsample_seed = 2026

    prepare_test_data = false
}

process {
    executor = "slurm"

    withLabel: process_medium {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withLabel: process_high {
        cpus = 4
        memory = '14 GB'
        time = '4h'
    }
}